:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #f94e3f);
  
  
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #fde263 50%, #fde263 50%);
    --vp-home-hero-image-filter: blur(40px);
  }

  /* var.css */
:root {
  --vp-c-brand-1: #ca8b05;
  --vp-c-brand-2: #e3a114;
  --vp-c-brand-3: #e3aa2f;
  
}

.dark {
  --vp-c-brand-1: #e3aa2f;
  --vp-c-brand-2: #e3a114;
  --vp-c-brand-3: #ca8b05;

}

/* var.css */
.vp-doc a {
  text-decoration: none;
}

/* .vitepress\theme\style\var.css */
h1 {
  color: #42b983;
}

